* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0078ff;
    --secondary-color: #4e4e4e;
    --white-color: white;
    --dark-color: #1e1e1e;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    color: #4e4e4e !important;

}

h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-color);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
}

.section-title h3 {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

#home {
    background-image: url(../images/hero-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: var(--white-color);
}

h1 {
    font-weight: 600;
    font-size: 3rem;
}

#home .background {
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: var(--white-color);
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: var(--white-color);
}

.sub-header {
    position: relative;
}

h1::after {
    content: "|";
    animation-name: typing;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes typing {


    0% {
        content: "D|";
    }

    1% {
        content: "De|";
    }

    2% {
        content: "Dev|";
    }

    3% {
        content: "Deve|";
    }

    4% {
        content: "Devel|";
    }

    5% {
        content: "Develo|";
    }

    6% {
        content: "Develop|";
    }

    7% {
        content: "Develope|";
    }

    8% {
        content: "Developer|";
    }

    15% {
        content: "Develope|";
    }

    16% {
        content: "Develop|";
    }

    17% {
        content: "Develo|";
    }

    18% {
        content: "Devel|";
    }

    19% {
        content: "Deve|";
    }

    20% {
        content: "Dev|";
    }

    21% {
        content: "De|";
    }

    22% {
        content: "D|";
    }

    23% {
        content: "|";
    }

    24% {
        content: "D|";
    }

    25% {
        content: "De|";
    }

    26% {
        content: "Des|";
    }

    27% {
        content: "Desi|";
    }

    28% {
        content: "Desig|";
    }

    29% {
        content: "Design|";
    }

    30% {
        content: "Designe|";
    }

    41% {
        content: "Designer|";
    }


}




.title-s {
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}

.progress {
    border-radius: 0;
    height: 0.65rem;
    background-color: #cde1f8;
    margin-bottom: 1rem;
}

.title-s span {
    margin-bottom: 2rem;

}

h5::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 20%;
    bottom: -12px;
    left: 0;
}

.about-me p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    padding-top: 2rem;
}

.line {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
}

.s-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
}

.service-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);

}

.service-box:hover .icon-custom {
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #93c3f9;
    color: white;
}

.icon-custom {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 3rem;
    transition: all 0.5s ease;
    font-size: 2rem;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
}

.counter {
    background-image: url(../images/counters-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 6rem;
    background-position: center center;
    color: #fff;
    position: relative;
}

.back-ground {
    background-color: #0078ff;
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;

}

.icon-content {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 1rem;
    transition: all 0.5s ease;
    font-size: 2rem;
    text-align: center;
    box-shadow: 0 0 0 10px #cde1f8;
    margin-bottom: 2rem;
}

.card {
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
    border-radius: 0;
    border: none;
    overflow: hidden;
}

.card-body h2 {
    font-size: 1.2rem;
}

.card-body {
    text-align: left;

}

.add {
    text-align: right;
    overflow: hidden;
}

.more {
    font-size: 0.8rem;
}

.add a i {
    align-self: center;
}

.color-blue {
    color: var(--main-color);
}

.work-card img {
    transition: 1s all;

}

.work-card:hover img {
    transform: scale(1.5);
}

.feedback {
    background-image: url(../images/overlay-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 6rem;
    background-position: center center;
    color: #fff;
    position: relative;
}

.carousel-indicators [data-bs-target] {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
}

.carousel-item img {
    border-radius: 50%;
    margin-bottom: 1rem;
}

.carousel-item p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1rem 0;
    display: block;
    font-size: 1.4rem;
}

.card-blog {

    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}

.card-blog .card-body {
    position: relative;
}

.card-blog a {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 1.3rem;
    transition: all 0.5s ease-in-out;
}

.card-blog a:hover {
    color: var(--main-color);
}

.icon {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

#contactUs {

    background-image: url(../images/overlay-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 6rem;
    background-position: center center;
    color: #fff;
    position: relative;
}

form button {
    background: #0078ff;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
}

.secondary-color {
    color: var(--secondary-color);
}

.social-icons li {
    box-shadow: 0 0 0 3px #0078ff;
    transition: all 1s;
}

.social-icons li:hover {
    box-shadow: 0 0 0 3px #cde1f8;
    background-color: var(--main-color);
}

.social-icons li:hover i {
    color: white;
}

footer {
    background-color: #0078ff;
    color: var(--white-color);
}